<!DOCTYPE html>  
<html>  
<head>  
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
	<title>Historical Track</title>  
	<style type="text/css">  
	body, html {width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
		#container{width:100%;height:100%;}  
	</style>  
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=nSxiPohfziUaCuONe4ViUP2N"></script>
	<script src="../static/echarts.min.js"></script>
    <script src="../static/jquery-3.3.1.js"></script>
</head>  

<body>
	<button type="button" onclick="search()">开始</button>
    <input type="text" id="ident">
    <button type="button" onclick="remove_all()">清除</button>
<div style="width:100%;height:100%;border:1px solid gray" id="container"></div>

	<div id="container"></div> 
	<script type="text/javascript">
		var color = ['blue', 'green', 'yellow', 'black', 'red', 'orange', 'purple']

		// 实时轨迹demo。
		// 实际运用的话可能ajax实时读取后台数据，加载到地图上。

		function dynamicLine(points){
			//console.log(data)

            var makerPoints = [];
			var newLinePoints = [];


            makerPoints.push(point);
            addMarker(makerPoints);//增加对应该的轨迹点
			points.push(point);
			bPoints.push(new BMap.Point(lon,lat));
			var len = points.length;
			newLinePoints = points.slice(len-2, len);//最后两个点用来画线。

			addLine(newLinePoints);//增加轨迹线
			setZoom(bPoints);
				
            //setTimeout(dynamicLine, 1000);		
			
		}

		

		function search(){
        	$SCRIPT_ROOT = {{request.script_root|tojson|safe}}
       		var keyvalue=document.getElementById('ident').value;
            	$.getJSON($SCRIPT_ROOT+'/search', {
                	search: keyvalue
            	}, function (data) {


                console.log(data)
                var makerPoints = [];
				var newLinePoints = [];
                for(var i = 0; i < data.length; i++){
                
                var utc = data[i][0]
                var ident = data[i][1]
                var icao = data[i][2]
                var alt = parseFloat(data[i][3])
                var lat = parseFloat(data[i][4])
                var lon = parseFloat(data[i][5])
                var speed = data[i][6]
                var heading = parseInt(data[i][7])
                var vertical = data[i][8]

                var point = {"utc":utc,
                			"ident":ident,
                			"icao":icao,
                			"alt":alt,
                			"lon":lon,
                			"lat":lat,
                			"speed":speed,
                			"heading":heading,
                			"vertical":vertical,
                			"ident":ident
                		}

				setTimeout(show(makerPoints, newLinePoints, point, points), 3000);
				}// CCA1896 

            }
        );

    	}

    	function show(makerPoints, newLinePoints, point,points){
    		makerPoints.push(point);			
				add_plane_icon(point);//增加对应该的轨迹点
				points.push(point);
				bPoints.push(new BMap.Point(point.lon,point.lat));
				var len = points.length;
				newLinePoints = points.slice(len-2, len);//最后两个点用来画线。
				addLine(newLinePoints);//增加轨迹线
				setZoom(bPoints);
    	}

		//在轨迹点上创建图标，并添加点击事件，显示轨迹点信息。points,数组。
		function addMarker(points){
			var pointsLen = points.length;
			if(pointsLen == 0){
				return;
			}
			var myIcon = new BMap.Icon("../static/pics/no.png", new BMap.Size(5, 5), {
				offset: new BMap.Size(5, 5) 
			});

			// 创建标注对象并添加到地图   
			for(var i = 0;i <pointsLen;i++){
				var point = new BMap.Point(points[i].lon,points[i].lat);
				var marker = new BMap.Marker(point, {icon: myIcon});
				map.addOverlay(marker); 
			}
		}

		function add_plane_icon(point){
        	var plane = new BMap.Marker(new BMap.Point(point.lon,point.lat), {
            // 初始化小飞机Symbol
            icon: new BMap.Symbol(BMap_Symbol_SHAPE_PLANE, {
            scale: 1.5,
            rotation: point.heading,
            fillColor: "blue",//填充颜色
            fillOpacity: 0.8//填充透明度
            })
        });

        	map.addOverlay(plane);
        	show_message(plane, point)
        
    }

		//添加线
		function addLine(points){

			var linePoints = [],pointsLen = points.length,i,polyline;
			if(pointsLen == 0){
				return;
			}
			// 创建标注对象并添加到地图   
			for(i = 0;i <pointsLen;i++){
				linePoints.push(new BMap.Point(points[i].lon,points[i].lat));
			}

			polyline = new BMap.Polyline(linePoints, 
			{strokeColor:"red", strokeWeight:2, strokeOpacity:0.5});   //创建折线
			map.addOverlay(polyline);   //增加折线
		}

		//随机生成新的点，加入到轨迹中。
		

		//根据点信息实时更新地图显示范围，让轨迹完整显示。设置新的中心点和显示级别. 
		//更新。设置不是每次增加点都重新设置显示范围。因为有可能会想放大了看。
		function setZoom(bPoints){
			var view = map.getViewport(eval(bPoints));
			if(map.oldView != JSON.stringify(view)){
				var mapZoom = view.zoom; 
				var centerPoint = view.center; 
				map.centerAndZoom(centerPoint,mapZoom);
				map.oldView = JSON.stringify(view);
			}

		}

		function remove_all(){
        	map.clearOverlays();
        	map.centerAndZoom(new BMap.Point(114.31, 30.52), 12);
    	}

    	function show_message(plane, point){
    		var path = '../static/img/'+point.ident.substring(0, 3)+'.jpg';
        	var sContent = 
        "<h4 style='margin:0 0 2px 0;padding:0.2em 0'>航班号:"+point.ident+"</h4>" + 
    "<img style='float:middle;margin:4px' id='imgDemo' src="+path+" width='139' height='104' title='AirCraft'/>" +
    "<p style='margin:0;line-height:1.5;font-size:13px;text-indent:2em'>"+"<br>"+
    	"UTC:"+point.utc+"<br>"+
    	"纬度: "+point.lat+"<br>"+
    	"经度: "+point.lon+"<br>"+
    	"海拔: "+point.alt+"<br>"+
    	"速度: "+point.speed+"<br>"+
    "</p>" + 
    "</div>";

        	var infoWindow = new BMap.InfoWindow(sContent);// 创建信息窗口对象
        	var myIcon = new BMap.Icon("../static/pics/no.jpg", new BMap.Size(23, 25));
        	var marker = new BMap.Marker(new BMap.Point(point.lon,point.lat), {icon: myIcon});
        	map.addOverlay(marker);
        	map.addOverlay(plane)

        	marker.addEventListener("click", function(){          
            	this.openInfoWindow(infoWindow);
  
        	});
    	}

		//数据准备,
		var points = [];//原始点信息数组
		var bPoints = [];//百度化坐标数组。用于更新显示范围。

		//地图操作开始
		var map = new BMap.Map("container");  

		map.centerAndZoom(new BMap.Point(114.31, 30.52), 12); //初始显示武汉。

		map.enableScrollWheelZoom();//滚轮放大缩小

		//setTimeout(dynamicLine, 1000);//动态生成新的点。

	</script>  
</body>  
</html>