<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>aircraft track</title>
    <!-- 引入 echarts.js -->
    <script src="../static/echarts.min.js"></script>
    <script src="../static/jquery-3.3.1.js"></script>
</head>
<body bgcolor=black>
	<button type="button" onclick="jump2()">实时飞行轨迹展示</button>
	<button type="button" onclick="jump()">历史飞行轨迹重演</button>
	<!--input type="text" id="ident"-->
	<img src="../static/pics/4.gif" align ="right" width="100%" height=100%/>



	<script type="text/javascript">


	function jump(){
		window.open("showmap")
	}

	function jump2(){
		window.open("showmap2")
	}

	</script>
</body>
</html>